*{
    user-select: none;
    font-family: 'Kavoon', Georgia, Serif;
    color: white;

}
body{
    display: grid;
    grid-template-columns: 30% 35% 35%;
    background-image: url("bilder/background.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    margin: 0;
    overflow: hidden;
}
#divAdds{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr;
}
.adds{
    display: grid;
    grid-template-columns: 90px 1fr 1fr;
    background-color: black;
    padding: 0;
    width: 100%;
    position: relative;
}
p{
    position: absolute;
    top: 50%;
    right: 7px;
    transform: translate(-50%,-50%);
    font-size: 40px;
    margin: 0;
}
#divKjeks{
    position: relative;
    padding-top: 30px;
}
#overskrift{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.47);
    padding: 4px;
}
#divcook{
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translate(-50%,0);
}

.span3{
    grid-column: span 2;
}
.pluss{
    position: absolute;
    transform: translate(-50%,-50%);
    color: white;
}
h1{
    margin: 5px;
    text-align: center;
}
h3{
    margin: 5px;
}
h6{
    margin: 5px;
}
.bilde2{
    grid-row: span 2;
    height: 60px;
}