
html {
    font-size: 16px;
}
body {
    margin: 0;
    font-family: "Open Sans Condensed";
    font-weight: 300;
}
header{
    background-color: #fff8b3;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 2;
    box-shadow: 0px 2px 5px lightgrey;
}
.meny{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 10px;
}
ul{

}
a{
    text-decoration: none;
    color: gray;
    text-align: center;
    font-family: "Open Sans Condensed";
    font-size: 30px;

}
a:hover{
    color: darkorange;
    font-style: italic;
    transition: 0.5s;
}
main{
    margin: 10px;
    margin-top: 61px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 14px;
}
@media (max-width: 900px){
    main{8
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 600px) {
    main {
        display: grid;
        grid-template-columns: 1fr;
    }
}
h1{
    color: darkorange;
}
table {
    width: 100%;
    border-collapse: collapse;
}
table thead {
    background-color: #f9f9f9;
    text-transform: uppercase;
    font-size: .875rem;
    border-top: 4px solid #fff8b3;
}
th {
    text-align: left;
}
th, td {
    /* 16x0.5625 =  10 */
    padding: .5625rem .625rem;
    border-right: 1px solid #ddd;
}
th:last-child, td:last-child {
    border-right: none;
}
tr {
    border-bottom: 1px solid #ddd;
}
tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}
img{
    width:100%;
    margin: 5px 0px;
    margin-top: 10px;
}