body{
    background-color: lightgray;
}
main{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
#wrapper{
    text-align: center;
    justify-content: center;
}
#fler{
    display: grid;
    grid-template-columns: 50px 50px;
    grid-gap: 10px;
    justify-content: center;
}
.leggtil{
    border: solid 1px gray;
    padding: 10px;
}
h1{
    margin-bottom: 5px;
}
.pers{
    text-transform: uppercase;
}