*{
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    font-family: Montserrat, Arial;
    font-weight: 100;
    letter-spacing: 2px;
}
body > header{
    padding: 5px 0px 2px 0px;
    z-index: 4;
}
body > header > nav{
    display: grid;
    grid-auto-flow: column;
    text-align: center;
    border-bottom: 1px black solid;
    background-color: white;
    position: fixed;
    top: 0px;
    padding-top: 5px;
    width: 100vw;
}
body > header > nav > .logo{
    grid-column: span 2;
    text-align: left;
    margin-left: 15%;
}
body > header > nav > .icon > img{
    margin-top: 15px;
    max-height: 30px;
    transition: transform 200ms ease-in-out;
    opacity: 0.5;
}
body > header > nav > .icon > img:hover{
    opacity: 1;
    transform: scale(1.07);
}
body > header > nav > .logo > img{
    margin-top: 2px;
    max-width: 200px;
    transition: transform 200ms ease-in-out;
}
body > header > nav > .logo > img:hover {
    transform: scale(1.1);
}
body > header > .undermeny{
    display: grid;
    grid-auto-flow: column;
    text-align: center;
    padding: 5px;
    text-transform: uppercase;
    margin-top: 68px;
    border-bottom: 1px solid black;
}
body > main{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1200px;
    margin: auto;
    margin-top: 10px;
    overflow: hidden;
}
body > main > article{
    background-color: white;
    text-align: center;
    overflow: hidden;
}
body > main > .header{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 400%;
}
#slides_top{
    transition: 1s ease;
}
body > main > article > .nytt{
    max-height: 100%;
    max-width: 100%;
    position: relative;
    text-align: center;
}
body > main > article > .nytt > a > img{
    transition: transform 200ms ease-in-out;
    width: calc(100% + 5px);
}
body > main > article > .nytt > a > img:hover{
    transform: scale(1.05);
    max-width: 100%;
}
body > main > article > .nytt > .skrift{
    position: absolute;
    top: 45%;
    height: 0;
    width: 100%;
    z-index: 3;
}
body > main > article > .nytt > .skrift > a > h1{
    font-size: 49px;
    color: lightgrey;
    text-shadow: 2px 2px 5px black;
    text-align: center;
    z-index: 3;
}
body > main > article > .nytt > .skrift > a > h5{
    color: gray;
    text-align: center;
    z-index: 3;
}
body > main > article > .nytt > .skrift > a:hover h1{
    color: red;
    z-index: 3;
}
body > main > article > .nytt > .skrift > a:hover h5{
    color: red;
    z-index: 3;
}
body > main > article > .kjop {
    background: white;
    padding: 5px;
    color: gray;
    position: relative;
    top: 75%;
    left: 35%;
    max-width: 30%;
    border: solid black 1px;
    transition: transform 200ms ease-in-out;
    z-index: 3;
}
body > main > article > .kjop:hover {
    color: red;
    border: solid red 1px;
}
body > main > article > .kjop:hover a{
    color: red;
}
body > main > article > a > h1{
    font-size: 45px;
    color: black;
}
body > main > article > a > img{
    transition: transform 200ms ease-in-out;
    z-index: 1;
}
body > main > article > a > img:hover{
    transform: scale(1.05);
    z-index: 1;
}
body > main > article > a > h1:hover{
    color: red;
}
body > main > .header{
}
body > main > article > a > img{
    width: 100%;
}
body > .main {
    background-color: white;
    margin: 0;
    margin-top: 20px;
    width: 100vw;
    border-top: solid 1px black;
    padding-bottom: 20px;
    position: relative;
}
body > .main > .shop {
    max-width: 1200px;
    margin: auto;
    background-color: transparent;
    overflow: hidden;
}
.pil {
    position: absolute;
    top: 50%;
    height: 25px;
    cursor: pointer;
}
.pil1{
    left: 15px;
}
.pil2{
    right: 15px;
}
.pil3{
    left: 15px;
    z-index: 5;
}
.pil4{
    right: 15px;
    z-index: 5;
}
.insta{
    display: grid;
    grid-template-columns: repeat(26,1fr);
    grid-gap: 9px;
    width: 371.43%; /* 1 bilde = 14,28% */
    margin-left: 0%;
    transition: 1s;
}
body > .main > article > h2{
    margin: 20px;
    text-align: center;
}
body > .main > article > .boksforig > .insta > div > img {
    width: 100%;
    user-select: none;
    transition: 0.5s;
}
body > .main > article > .boksforig > .insta > div > img:hover {
    opacity: 0.8;
}
body > footer{
    background-color: gray;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: white;
    padding: 0px 30px;
}
body > footer > article{
    text-align: left;
    margin: 10px;
    font-size: 10px;
    color: #565656;
}
body > footer > article > a{
    color: white;
    font-size: 15px;
}
body > footer > article > li {
    text-decoration: none;
    list-style: none;
    line-height: 1.7em;
    letter-spacing: 1.3px;
    padding-top: 5px;
}
body > footer > article > li > a{
    color: #3f3f3f;
    font-size: 13px;
}
body > footer > article > li > a:hover{
    color: #aeaeae;
}
.høyre{
    text-align: right;
    margin-right: 15%;
}
h1{
    transition: 0.5s;
}
h5{
    transition: 0.5s;
}
a{
    text-decoration: none;
    color: black;
    transition: 0.5s;
}
a:hover{
    color: red;
}
.col2{
    grid-column: span 2;
}
.col3{
    grid-column: span 3;
    letter-spacing: normal;
}
.col4{
    grid-column: span 4;
    letter-spacing: normal;
}
.row2{
    grid-row: span 2;
}